<!DOCTYPE html>
<html>
<head>
  <title>EveryoneRichBank</title>
  <meta charset="utf-8">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%# <%= stylesheet_link_tag    'bootstrap.min', media: 'all' %>

  <%# <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->


  <!-- Custom Fonts -->
  <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <style>
    @media only screen and (min-width:768px) and (max-width:991px) {
      .navbar-nav {
        font-size: 0.9em;
      }
    }
    .alert {
      margin-top: 20px;
    }
  </style>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">[ER]Bank</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/#page-top"></a>
                </li>
                <li class="page-scroll">
                  <%= link_to "About Us", about_path %>
                </li>
                <% if user_signed_in? %>
                  <% if current_user.role == 'teller' %>
                  <li class="page-scroll">
                    <%= link_to "Manage Users", teller_path %>
                  </li>
                  <% else %>
                  <li class="page-scroll">
                    <%= link_to "Payment Accounts", payment_accounts_view_path %>
                  </li>
                  <% end %>
                <% end %>
                <li class="page-scroll">
                  <%= render 'devise/menu/registration_items' %>
                </li>
                <li class="page-scroll">
                    <%= render 'devise/menu/login_items' %>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="content-container">
  <% if !flash[:alert].blank? %>
    <div class="container">
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
