<h1>Accounts</h1>
<% if @accounts.size != 0 %>
  <ul>
    <% @accounts.each do |account| %>
      <li>
        Account <%= account.id %>: <%= account.current_balance %>
        <!-- TODO: Create a form with a hidden account id parameter -->
      </li>
    <% end %>
  </ul>
  <%= form_tag('/payment_account/delete_all', method: 'post') do %>
    <%= submit_tag("Delete All") %>
  <% end %>
<% else %>
  <p>You do not have any accounts</p>
<% end %>
<%= form_tag('/payment_account/create', method: 'post') do %>
  <%= submit_tag("Create New Account") %>
<% end %>

